<header class="header">
  <nav class="header__nav">
    <ul class="header__nav__ul">
      <li class="header__nav__ul--li"
          [routerLink]="'ToDoList'">
        <h1>TODO APP</h1>
      </li>
      <li class="header__nav__ul--li"
          [routerLink]="'ToDoList'">
        <button>
          BOARD
        </button>
      </li>
      <li class="header__nav__ul--li"
      routerLink="history">
        <button>
          HISTORY
        </button>
      </li>
      <li class="header__nav__ul--li"
          [routerLink]="'ToDoList/new'">
        <button
          >
          ADD
        </button>
      </li>
      <li class="header__nav__ul--li"
          routerLink="done">
        <button>
          DONE
        </button>
      </li>
    </ul>
  </nav>
</header>
