.list {
  width: 80%;
  height: 80%;
  min-width: 400px;
  display: flex;
  min-width: 400px;
  background-color: red;

  &__section {
    width: 33.3%;
    height: 100%;
    display: inline-block;
    background: darkgrey;
    overflow-Y: scroll;
  }

  &__router_holder {
    display: inline-block;
    height: 100%;
    width: 66.6%;
  }
}

button {
  width: 100%;
  margin-bottom: 5px;
}

h1 {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: center;
}
