<div class="details_holder">
  <h3 class="details_holder--title">{{task.title | uppercase}}</h3>

  <section class="details_holder__description_holder">
    <p class="details_holder__description_holder--description">
      {{task.description}}
    </p>
  </section>

  <div class="details_holder__button_wrapper">
    <ul>
      <li>
        <button (click)="toDoService.deleteTask(id)"
                [routerLink]="'ToDoList'">Delete</button>
      </li>
      <li>
        <button routerLink="edit">Modify</button>
      </li>
      <li>
        <button
          (click)="toDoService.addDoneTask(id);"
          [routerLink]="'ToDoList'">
          DONE
        </button>
      </li>
    </ul>
  </div>
</div>
