.to_do_item_holder {
  width: 100%;
  background-color: blanchedalmond;
  margin-bottom: 5px;

  &--title {
    width: 100%;
    min-height: 50px;
    text-align: center;
  }

  &__to_do_item_holder--description {
    width: 100%;
    min-height: 30px;
    background: darkgrey;
  }

  &__buttons_holder {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2px;
  }
}
