@import "app/shared/variables";
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, article, section, ul, li, header, footer{
  margin: 0;
  padding: 0;
}
p, a, span, div {
  font-size: 14px; //different browser different font size
}

body {
  position: relative;
  min-height: 100vh;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 54px - 32px); //first is header second footer
}

ul{
  list-style: none;
}


