@import "~src/app/shared/variables";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height ;
  background-color: black;
  color: white;
  text-align: center;

  span {
    opacity: 0.65;
  }
}
